* {
  margin:0;
}

.app__header {
  object-fit: contain;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.app__headerImage {
  width: 120px;
  object-fit: contain;

}

.app {
  background-color: #fafafa;
}

.app__signUp {
  display: flex;
  flex-direction: column;
}

.app__signUp img {
  width: 100px;
  display: block;
  margin: auto;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app_postsRight {
  margin-left: 20px;
}