* {
  margin:0;
}

.app__header {
  object-fit: contain;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}

.app__headerImage {
  width: 50px;
}

.app {
  background-color: #fafafa;
}

.app__signUp {
  display: flex;
  flex-direction: column;
}

.app__signUp img {
  width: 100px;
  display: block;
  margin: auto;
}