.imageupload {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(187, 76, 76);
    border-radius: 10px;
}

.imageupload__progress {
    width: 100%;

}